* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #000000;
	font-color: #F8F8FF;
	font-size: 18px;
}
h2 {
	font-size: 1.5em;
	text-transform: uppercase;
}
#leftside {
	font-size: 2em;
	float: left;
	border: .2em solid #F8F8FF;
	margin: .4em;
}
#rightside {
	float:left;
}
ul {
	list-style-type: none;
	font-variant: small-caps;
	font-weight: bold;
}
#headshot {
	height: 15em;
}
a {
	font-size: 2em;
	text-decoration: none;
	color: #F8F8FF;
	border: .2em solid #F8F8FF;
	text-transform: uppercase;
	clear: both;
}
