@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Bitter);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif', serif;
}
h2 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	margin: 2em 0 1em .8em;
	border-bottom: .1em #000 solid;
}
ul {
	font-size: 1.2em;
	padding: 0 1.5em;
	margin: 0 0 3em 0;
}
p {
	font-size: 1.2em;
}
h2:hover {
	color: #00BFFF;
}
#leftside {
	float: left;
	width: 46%;
	padding: 1%;
	margin: 1%;
}
#rightside {
	float:left;
	width: 42%;
	padding: 2%;
	margin: 2%;
}
#biography {
	margin: 1em;
}
#headshot {
	height: 15em;
	float: left;
	margin: .4em;
}
#media {
	font-size: 2em;
	font-family: 'Bitter', serif;
	text-decoration: none;
	color: #000000;
	border: .2em solid #000000;
	text-transform: uppercase;
	width: 50%;
	margin: .3em 0 0 .5em;
	padding: .3em;
}
#media:hover {
	color: #FF0000;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
