* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 20px;
}
h2 {
	font-size: 1.5em;
	text-transform: uppercase;
}
ul {
	list-style-type: none;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.2em;
}
a {
	font-size: 2em;
	text-decoration: none;
	color: #FFFFFF;
	border: .2em solid #FFFFFF;
	text-transform: uppercase;
}
#leftside {
	float: left;
	width: 46%;
	margin: 4%;
}
#rightside {
	float:left;
	width: 46%;
	margin: 4%;
}
#headshot {
	height: 15em;
	float: left;
	margin: .4em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
