@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Bitter);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 16px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	padding: 0 0 .5em 0;
	border-bottom: .2em solid #000000;
}
h3 {
	font-family: 'Noto Serif', serif;
	font-size: 1.5em;
	padding: 1em 0 .5em 0;
}
li {
	font-family: 'Noto Serif', serif;
	font-size: 1.5em;
}
p {
	font-family: 'Noto Serif', serif;
	font-size: 1.5em;
}
ul {
	padding: 2em 0 1.5em 0;
	line-heigh: 2em;
}
h2:hover {
	color: #00BFFF;
}
#two_column {
	padding: 1.2em;
}
#left {
	padding: 1.2em;
	float: left;
	width: 46%;
}
#right {
	padding: 1.2em;
	float: right;
	width: 46%;
}
.proleague:hover {
	background-color: #00BFFF;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}