* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #000000;
	color: #F8F8FF;
	font-size: 16px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}
h3, li {
	font-family: 'Noto Serif', serif;
	font-size: 1.8em;
}
p {
	font-family: 'Noto Serif', serif;
	font-size: 1.5em;
}
#two_column {
	padding: 1.2em;
}
#left {
	padding: 1.2em;
	float: left;
	width: 46%;
}
#right {
	padding: 1.2em;
	float: right;
	width: 46%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}