@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Bitter);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	/*background-image: url(../images/tony_main_image.jpg);*/
	background-color: #4682B4;
	color: #F8F8FF;
	font-size: 16px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}
p {
	font-family: 'Noto Serif', serif;
	font-size: 1.5em;
}
nav {
	background-color: #FFFFFF;
	font-family: 'Bitter', serif;
	font-size: 2em;
	font-weight: bold;
}
a {
	color: #F8F8FF;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: .8em;
	width: 14em;
}
a:hover {
	color: #00BFFF;
}
#splash {
	height: 90vh;
	background-color: #E89C6C;
	border: .06em black solid;
	padding: 1.2em;
	background-size: cover;
	background-repeat: no-repeat;
}
#headline {
	float: right;
}
#navboxes {
	font-family: 'Bitter', serif;
	font-size: 1.5em;
}
#navboxes a {
	border:.06em solid;
	display:block;
	float:left;
	padding:4em;
	text-align:center;
	width:33.33%;
}
#contact {
	font-family: 'Bitter', serif;
	font-size: 1em;
	background-color: #FF957E;
	border: .06em black solid;
	padding: 1.2em;
}
.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0;
	content: "."; 
	clear: both;
	height: 0; 
}
