@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Bitter);
body {
	/*background-image: url(../images/tony_main_image.jpg);*/
	background-color: #4682B4;
	color: #F8F8FF;
	font-size: 18px;
}
h1 {
}
p {
}
a {
	color: #F8F8FF;
	text-decoration: none;
	text-transform: uppercase;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
#menu {
	font-family: 'Bitter', serif;
	font-size: 1.5em;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
#headline {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}
#splash {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
#slogan {
	font-family: 'Noto Serif', serif;
	font-size: 2em;
}
#navboxes {
	font-family: 'Bitter', serif;
	font-size: 1.5em;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
#contact {
	font-family: 'Bitter', serif;
	font-size: em;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}