* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Bitter);
body {
	/*background-image: url(../images/tony_main_image.jpg);*/
	background-color: #4682B4;
	color: #F8F8FF;
	font-size: 16px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}
p {
	font-family: 'Noto Serif', serif;
	font-size: 1.5em;
}
a {
	color: #F8F8FF;
	text-decoration: none;
	text-transform: uppercase;
}
nav {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Bitter', serif;
	font-size: 1em;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
#splash {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
#navboxes {
	font-family: 'Bitter', serif;
	font-size: 1.5em;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
#contact {
	font-family: 'Bitter', serif;
	font-size: em;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
#navboxes a {
	border:1px solid;
	display:block;
	float:left;
	padding:4em;
	text-align:center;
	width:33.33%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
