body {
	background: "images/tony_main_image.jpg";
	background-color: #0000FF;
	font-color: #F8F8FF;
	font-family: "Maven Pro", sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 34px;
}
p {
	font-size: 28px;

}
