@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Bitter);
body {
	background-image: url(../images/tony_main_image.jpg);
	background-color: #0000ff;
	color: #ffffff;
}
h1 {
}
p {
}
#menu {
	font-family: 'Bitter', serif;
	font-size: 22px;
	text-decoration: none;
	color: #ffffff;
}
#headline{
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
}
#splash {
}
#slogan {
	font-family: 'Noto Serif', serif;
	font-size: 30px;
}
#navboxes {
	font-family: 'Bitter', serif;
	font-size: 26px;
	text-decoration: none;
	color: #ffffff;
}
#contact {
	font-family: 'Bitter', serif;
	font-size: 26px;
}