
body {
	background: "images/tony_main_image.jpg";
	background-color: #ffff00;
	font-color: #f8f8ff;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 34px
}
p {
	font-size: 28px
}