
body {
	background-image: url(images/tony_main_image.jpg);
	background-color: #0000ff;
	color: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 28px;
}
h1 {
	font-size: 34px;
}
p {
	font-size: 20px;
}
a {
	text decoration: none;
	color: #ffffff;
}